*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: radial-gradient(whitesmoke,#475569) 
    ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 200px 600px ;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    gap: 10px;
}
header, main , footer{
   
    padding: 20px;

}
header{
    grid-area: header;
   
    
    display: flex;
    justify-content: space-between;
}
ul {
    font-family: "Roboto",sans-serif;
    display: flex;
    justify-content: center;
      color: #222;
    gap: 50px;
    list-style: none;
     font-size: 18px;
  font-weight: 600;
}a{
    list-style: none;
    text-decoration: none;
    color: black;
    cursor:pointer;
}.hero{
    margin-top: -45px;
    text-align:center ;
}
main{
  grid-area: main ;
  display: grid;
  align-items: center;
  justify-content: center;
}
.hero p {
      font-size: 22px;
  color: #555;
 
}
footer{
   
    grid-area: footer;

} 
 section{
    padding: 30px;
  background: #fff;
  margin-top: 20px;
  border-radius: 12px;
  width: 540px;
}.hero h1{
    font-size: 60px;
  margin-bottom: 10px;
}
.hero button{
       margin-top: 10px;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.hhh{
    margin-left: 30px;
    margin-top: 10px;
}.hero button:hover {
  background: #0059c9;
}header h1 {
    margin-left: 30px;
}.box{
    background: #d0c9c9;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}.project-cards{
      display: flex;
      justify-content: space-around;
      gap: 20px;
      margin-top: 50px;
} .box h3 {
      margin-bottom: 8px;
      font-size: 20px;
    }.box p {
      font-size: 15px;
      color: #555;
    }.contact-info p {
      font-size: 18px;
    }
img{
    width: 300px;
    height: 350px;
    margin-top: 50px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}.photos{
    display: flex;
    justify-content: end;
    margin-left: 550px;
    gap: 70px;
    margin-top: 40px;
}section, .box{
   background-image: radial-gradient(whitesmoke,#475569) 
    ;
}.girlfrien{
 
  display: flex;
  justify-content: center;
  margin-left: 550px;
  margin-top: -75px;
    width: auto;
    height: auto;
    font-size: 25px;
    border-radius: 20px;
    
}.girlfrien h1{
  background-image: radial-gradient(whitesmoke,#475569) 
    ;
    border-radius: 10px;
}
section:hover , .box:hover, #contact:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
 background-image: radial-gradient(whitesmoke,#5480bd) 
    ;
}.sayhello{
  text-decoration: none;
  width: auto; 
  margin-right: 120px;
  

}.sayhello button{
  width: 200px;
  height: 50px;
  font-size: 25px;

  font-family: "Roboto",sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(20, 20, 20);
  background-color: rgba(25, 124, 71, 0.338);
}button:hover{
  background-color: rgba(25, 124, 71, 0.555);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}